@charset "UTF-8";

/* fonts: Noto Sans KR, sans & serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap');

/* fonts: FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* || VARIABLES */
:root {
  --theme-rounded-base: 20px;
  --theme-rounded-container: 4px;

  --theme-font-family-base: 'Noto Sans KR', sans-serif;
  --theme-font-family-heading: 'Noto Sans KR', sans-serif;
}

html {
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  font-family: var(--theme-font-family-base);
  font-size: 1rem;
  /* font-size: clamp(1rem, 2.2vh, 1.5rem); */
}

body {
  min-height: 100vh;
}

input,
button,
textarea {
  font: inherit;
}
